body {
  background-color: #c19c9c !important;
  /* El !important fuerza la prioridad */
  color: #ffffff;
  /* Para que el texto sea legible */
}

.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* centra horizontal */
  justify-content: center;
  /* centra vertical */
  grid-column: 1 / -1;
  /* ocupa todas las columnas del grid */
}

.titulo {
  font-size: 2rem;
  margin-bottom: 20px;
}

.recuadros {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* separación entre recuadros */
}

.recuadro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 250px;
  border: 2px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #DE1414;
}

.recuadro img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 5%;
  background-color: #DE1414;
}

.recuadro span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
  color: #1E0303
}

.recuadro:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 15px #ffffff;

}

.recuadroCRUD {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: 250px;
  border: 2px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #DE1414;
}

.botton-home {
  margin-top: 10px;
}

.seleccionaCRUD {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;

}